<!DOCTYPE html>
<html ng-app="myApp">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AppStore</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aldrich">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
    <script src="app.js"></script>
</head>

<body ng-controller="myController">
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center" style="font-family:Aldrich, sans-serif;"><strong>Apple App Store Search Engine</strong> </h1></div>
            </div>
        </div>
    </div>
    <div style="margin:8px;padding:25px;">
        <div class="container visible-sm-block visible-md-block visible-lg-block visible-xs-inline">
            <div class="row">
                <div class="col-lg-4 col-lg-offset-1 col-md-5 col-sm-4 col-xs-10" style="margin-bottom:5px;">
                    <input class="input-lg col-centered" type="text" name="searchStr" required="" placeholder="search by name" style="margin:0px;width:248px;" ng-model="searchStr">
                </div>
                <div class="col-md-2 col-sm-2 col-xs-4">
                    <select class="input-lg" style="margin-bottom:5px;" ng-model="country">
                        <option value="au">Australia</option>
                        <option value="ca">Canada</option>
                        <option value="cn">China</option>
                        <option value="fr">France</option>
                        <option value="de">Germany</option>
                        <option value="hk">HongKong</option>
                        <option value="in">India</option>
                        <option value="it">Italy</option>
                        <option value="jp">Japan</option>
                        <option value="my">Malaysia</option>
                        <option value="mx">Mexico</option>
                        <option value="nz">NewZealand</option>
                        <option value="us" selected="">US</option>
                        <option value="gb">UK</option>
                    </select>
                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-7">
                    <select class="input-lg" style="margin-bottom:5px;" ng-model="entity">
                        <option value="software" selected="">App/Game</option>
                        <option value="all">ALL</option>
                        <option value="music">Music</option>
                        <option value="podcast">Podcast</option>
                    </select>
                </div>
                <div class="col-md-1 col-sm-2 col-sm-offset-0 col-xs-3 col-xs-offset-3">
                    <button class="btn btn-success btn-lg" type="submit" style="margin-bottom:5px;" ng-click="getData()">Search </button>
                </div>
            </div>
        </div>
    </div>
    <div ng-if="results" ng-cloak>
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-6" ng-repeat="x in results">
                    <div class="thumbnail" style="min-height:340px;max-height: 340px; padding: 10px;"><img class="img-responsive" src={{x.artworkUrl512}} alt="logo" width="120" style="border-radius: 25%">
                        <div class="caption">
                            <h3 title="{{x.trackName}}">{{x.trackName | limitTo:20 }}</h3>
                            <h4>{{x.artistName}}</h4>
                            <h4><a href="{{x.trackViewUrl}}" target="_blank" style="text-decoration: none" title="view app in AppStore"><span style="border: 1px solid blue; background-color:blue; color:white; border-radius: 10px; padding:0 10px; margin-right: 2px;">Get</span><span>{{x.price | currency}}</span></a></h4>
                            <h4>Rating:{{x.averageUserRating | number}}</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>

</html>